@media (max-width:767px){
    header{
        height: 54px;
    }
    header .logo{
        left: 20px;
        top: 15px;
    }
    header .logo img{
        width: 100px;
    height: 28px;
    }
    header .gnb{
        display: none;
    }
    header .quick_gnb{
        display: none;
        right: 60px;
        top: 17px;
    }
    header .ham-menu{
        right: 20px;
        top: 19px;
        width: 20px;
        height: 20px;
    }
    header .ham-menu.open{
        display: flex;
    }
    header .ham-menu.close{
        display: none;
    } 
    header .ham-menu>span{
        margin: 2px 0;
    }
    header .ham-menu.close>span:nth-child(1){
        transform: rotate(45deg) translate(4px, 4px);
    }
    header .ham-menu.close>span:nth-child(2){
        opacity: 0;
    }
    header .ham-menu.close>span:nth-child(3){
        transform: rotate(-45deg) translate(4px, -5px);
    } */

    .scroll_btn{
        right: 4px;
    }
    .scroll_btn>p{
        font-size: 10px;
        margin-right: 6px;
    }
    .scroll_btn.top_btn{
        right: 4px;
    }
    .scroll_btn.down_btn div.icon {
        width: 12px;
        height: 4px;
        border-radius: 0;
        border: none;
    }
    .scroll_btn.top_btn div.icon{
        width: 12px;
        height: 4px;
        border-radius: 0;
        border: none;
    }

    .section .sec_info{
        display: none;
    }
    .section .bg{
        width: 100%;
        height: 100%;
    }
    .section1 .bg{
        width: 100%;
        height: 100%;
    }
    .section1 .tit strong span>em{
        display: block;
        transform: translateY(100%);
        transition: 0.7s 0.4s;
    }
    .section1.swiper-slide-active .tit strong span>em{
        transform: translateY(0);
    }
    .section1.swiper-slide-active .tit strong::after{
        width: 80px;
        height: 3px;
        margin: 13px 0 18px;
        transition: none;
    }
    .section1 .tit p{
        opacity: 1;
        transform: translateY(0);
    }
    .section .tit{
        position: absolute;
        bottom: 31%;
        left: 0;
        width: 100%;
        padding: 0 20px;
    }
    .section .tit strong {
        font-size: 27px;
    }
    .section4 .tit strong::after{
        width: 65px;
        opacity: 1;
        transition: none;
    }
    .section .tit p{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: -0.025em;
    }
    .main_paging {
        bottom: 18%;
        left: 20px;
        opacity: 1;
    transform: translateY(0);
    }
    .main_arrow{
        margin-right: 13px;
    }
    .main_arrow>button.main_prev{
        margin-right: 21px;
    }
    .main_arrow>button {
        width: 10px;
        height: 17px;
    }
    .main_pagination>span {
        font-size: 10px;
    }
    .main_pagination>span.current:after {
        content: "";
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 1px;
        background: #fff;
        opacity: 0.5;
        margin: 7px 4px 0;
    }
    .section2 {
        background: #ececee url(images/sec2_bg.png) no-repeat bottom right;
        padding-bottom: 32px;
        padding-top: 60px
    }
    .section .title_group {
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    .section .title_group .section_title{
        position: relative;
        display: block;
        font-size: 19px;
        color: #000;
        letter-spacing: -0.025em;
        padding-left: 13px;
        margin-left: -10px !important;
    }
    .section .title_group .section_title>em::before{
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 3px;
        height: 16px;
        background: #000;
    }
    .section2 .contents_wrap{
        display: block;
        height: calc(100% - 28px);
        padding-top: 17px;
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    .section2 .cont{
        width: 100%;
        height: 50%;
    }
    .section2 .cont .bg{
        width: 100%;
        height: 100%;
    }
    .section2 .cont1 .bg{
        background: url(images/sec2_img1.jpg) no-repeat center top 30% / cover;
    }
    .section2 .cont2{
        transform: translateY(-64px);
    }
    .section2 .cont2 .bg{
        background: url(images/sec2_img2.jpg) no-repeat center top 30% / cover;
    }
    .pc_only{
        display: none;
    }
    .section2 .cont_text>p{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.025em;
    line-height: 1.8;
    color: #fff;
    margin-top: 12px;
    padding: 0 35px;
    opacity: 1;
    transform: translateY(0);
    }
    .section2 .cont_text>strong{
    display: block;
    font-size: 27px;
    color: #fff;
    line-height: 1;
    opacity: 1;
    transform: translateY(0);
    }
    .section2 .title_group .section_title>em::before{
        background-color: #000 !important;
    }
    .section2 .title_group .section_title>em{
        transform: translateX(0);
    }
    .section .btn{
        width: 120px;
        height: 34px;
    }
    .section2 .btn{
        margin: 14px auto 0;
        opacity: 1;
        transform: translateY(0);
    }
    .section .btn>a {
        display: block;
        line-height: 34px;
        text-align: center;
        border: 1px solid #fff;
    }
    .section .btn>a p {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: #fff;
        padding-right: 23px;
        background: url(images/btn_pointer.png) no-repeat center right;
    }
    .tab_only{
        display: none;
    }
    .section3{
        padding-bottom:45px;
    }
    .section3 .bg{
        display: none;
    }
    .section3 .title_group{
        width: calc(100% - 40px);
     margin: 0 auto;
     padding-top: 60px;
    }
    .section3 .title_group .section_title{
        color: #fff;
    }
    .section .title_group .section_title>em::before{
        background-color: #fff;
    }
    .section3_cont_wrap{
        width: calc(100% - 40px);
        height: calc(100% - 47px);
        padding-bottom: 0;
        margin-top: 20px;
        position: relative;
        margin: 0 auto;
    }
    .section3 .contents{
        display: block;
        width: 100%;
        height: 100%;
        border-top: 1px solid rgba(255,255,255,0.15);
        margin-top: 20px;
        width: calc(100% - 40px);
    height: calc(100% - 47px);
    padding-bottom: 0;
    margin-top: 20px;
    }
    .section3 .contents>li{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: calc(100% / 3);
        overflow: hidden;
        border-bottom: 1px solid rgba(255,255,255,0.15);
    }
    .section3 .text_g{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 22px;
        position: relative;
    }
    .section3 .icon{
        width: 43px;
        height: 51px;
        transform: translateY(30px);
        opacity: 1;
    }
    .section3 .icon>img{
        width: 100%;
    }
    .section3 .section3_cont_wrap .contents .text{
        width: calc(100% - 42px);
        padding-left: 25px;
    }
    .section3 .text_g .text>strong{
        display: block;
        font-size: 20px;
        margin-top: 0;
        opacity: 1;
        transform: translateY(0);
    }
    .section3 .btn{
        display: none;
    }
    .section3 .text_g .text>p{
        font-size: 12px;
        font-weight: 300;
        line-height: 1.8;
        letter-spacing: -0.025em;
        margin-top: 12px;
        opacity: 1;
        transform: translateY(0);
    }
    .section3 .title_group .section_title>em{
        padding-left: 13px;
        transform: translateX(0);
    }
    .section4 .title_group{
        margin-top: 250px;
    padding-left: 10px;
    }
    .section4 .title_group .section_title>em{
        color: #fff;
    }
 
    .section4 .title_group .section_title{
        margin: 0;
        padding-left: 0;
    }
    .section4 .title_group .section_title>em{
        padding-left: 13px;
        transform: translateX(0);
    }
    .section4 .tit{
        position: relative;
        bottom: 0;
    }
    .section4 .tit strong>em{
        font-size: 35px;
    }
    .section4.active .tit strong::after{
        width: 65px;
        transition: none;
    }
    .section4 b{
        font-size: 14px;
        font-weight: 400;
        opacity: 1;
        transform: translateY(0);
    }
    .section4 .tit p{
    font-weight: 300;
    line-height: 1.7;
    margin-top: 12px;
    color: rgba(255,255,255,0.8);
    opacity: 1;
    transform: translateY(0);
    }
    .section4 .btn{
        opacity: 1;
        transform: translateY(0);
    }
    .section4 .btn>a p{
        font-weight: 400 !important;
    }
    .section5{
        padding: 60px 0 38px;
    }
    .section5 .cont{
        display: block;
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    .section5 .cont1{
        height: 60%;
    }
    .section5 .cont .title_group{
        width: 100%;
        margin: 0;
    }
    .section5 .sub_title em{
        transform: translateY(0);
        opacity: 1;
    }
    
    .section5 .title_group b.sub_title:after{
        width: 100px;
    }
    .section5 .cont .title_group .section_title{
        display: block;
        font-size: 19px;
        color: #000;
        letter-spacing: -0.025em;
        padding-left: 13px;
    }
    .section5 .title_group .section_title>em{
        transform: translateX(0);
        opacity: 1;
        transition: none;
    }
    .section .title_group .section_title>em::before{
        background-color: #000;
    }
    .section5 .sub_title{
        display: none;
    }
    .section5 .title_group p{
        display: none;
    }
    .section5 .interview_wrap{
        width: 100%;
        height: calc(100% - 45px);
        padding-top: 20px;
        opacity: 1;
        transform: translateY(0);
    }
    .section5 .interview_wrap>ul>li{
        width: calc(85% - 12px);
    }
    .section5 .interview_wrap>ul>li>a .text_wrap{
        padding: 12px 41px 20px 18px;
    }
    .section5 .interview_wrap>ul>li>a .text_wrap span.box_title{
        height: 16px;
        line-height: 14px;
        padding: 0 5px;
        font-size: 10px;
    }
    .section5 .interview_wrap>ul>li>a .text_wrap strong.interview_test{
        height: 21px;
        font-size: 14px;
    }
    .section5 .interview_wrap>ul>li>a .text_wrap span.date{
        font-size: 10px;
        margin-top: 7px;
    }
    .section5 .more_btn{
        width: 28px;
        height: 28px;
        background: #0055b4 url(images/btn_pointer.png) no-repeat center / 9px;
    }
    .section5 .cont1 .more_btn{
        bottom: 13px;
        right: 13px;
    }
    .section5 .cont2{
        height: 35%;
    }
    .section5 .notice_wrap{
        width: 100%;
        height: calc(100% - 45px);
        padding-top: 20px;
        opacity: 1;
        transform: translateY(0);
    }
    .section5 .notice_wrap>ul>li>a .date{
        width: 34px;
    }
    .section5 .notice_wrap>ul>li>a .date b.day{
        font-size: 30px;
    }
    .section5 .notice_wrap>ul>li>a .date span.ym{
        font-size: 10px;
        margin: 2px 0 0 -2px;
    }
    .section5 .cont2 .text_wrap{
        width: calc(100% - 62px);
    }
    .section5 .cont2 .notice_wrap .text_wrap strong.tit{
        width: calc(100% - 47px);
        font-size: 12px;
        position: relative;
    }
    .section5 .cont2 .notice_wrap .text_wrap p.text{
        display: none;
    }
    .section4 .title_group .section_title>em::before{
        background-color: #fff;
    }
    .section3 .title_group .section_title>em::before{
        background-color: #fff;
    }
    #footer{
        height: 250px;
    }
    .footer-wrap{
        padding: 0 20px;
    }
    .footer-wrap .foot-t{
        display: flex;
    }
    .footer-wrap .foot-t-wrap{
        display: block;
    }
    .footer-wrap .logo>img{
        width: 104px;
    }
    .footer-wrap .f-text{
        margin-left: 0;
        margin-top: 20px;
        padding-left: 0;
        border-left: none;
    }
    .footer-wrap .foot-t .address{
        font-size: 12px;
    }
    .footer-wrap .f-text .info>li{
        font-size: 12px;
    }
    .footer-wrap .f-text .c-right{
        font-size: 12px;
        margin-top: 10px;
    }
    .footer-wrap .sns{
        right: 20px;
    }
    .footer-wrap .sns a{
        width: 33px;
        height: 33px;
        line-height: 31px;
    }
    div.line span:nth-child(1){
        left: 20px;
    }
    div.line span:nth-child(2){
        display: none;
    }
    div.line span:nth-child(3){
        right: 20px;
    }
    div.line span:nth-child(4){
        display: none;
    }
    .tab_mo_menu{
        display: none;
        z-index: 6;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical{
        display: none;
    }
    .scroll_btn.top_black{
        position: fixed;
        bottom: 0;
        right: 4px;
        display: flex;
        align-items: center;
        z-index: 10;
        cursor: pointer;
        transform: rotate(90deg);
        transform-origin: right top;
    }

    .scroll_btn.top_black>p{
        font-size: 10px;
    }
    .scroll_btn.top_black div.icon{
        width: 12px;
        height: 4px;
    }
}